.follow-button {
  width: 90px;
  height: 35px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;

  &.following {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}
