/* Search.css */
.search-container {
    display: flex;
    align-items: center;
    background-color: #17181c;
    padding: 10px 20px;
    max-width: 380px;
    height: 45px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 50px;
    gap: 10px;
    cursor: pointer;
  }
  
  .search-icon {
    color: #7c7a7a; 
    margin-right: 8px;
  }
  
  .search-input {
    border: none;
    outline: none;
    width: 90%;
    font-size: 16px;
    color: #7c7a7a; 
    background-color: #17181c;
  }
  
  .search-input::placeholder {
    color: #7c7a7a; 
  }