.profile {
  display: grid;
  grid-template-columns: 250px 2fr 380px;
  grid-template-areas: "sidebar center lists";
  gap: 20px;
  padding: 0 100px;
  box-sizing: border-box;
  height: 100%;

  .sidebar {
    grid-area: sidebar;
    width: 240px;
    order: 1; 
  }

  .center {
    grid-area: center;
    order: 2; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 0.1px solid #474747;  
    border-right: 0.1px solid #474747;  
  }

  .lists {
    grid-area: lists;
    display: flex;
    flex-direction: column;
    gap: 20px;
    order: 3;
    padding-top: 10px;
  }

  .Terms {
    color: #888;
    font-size: medium;
    padding: 0 20px 20px;
    grid-column: span 3; 
  }
}
.username {
  color: #1da1f2;
  text-decoration: none; 

  &:hover {
    text-decoration: underline; 
  }
}
